.first-page {
  background-color: #282a36;
  color: #f8f8f2;
  font-family: "Roboto", sans-serif;
}
.img-avatar {
  width: 128px;
  border-radius: 50%;
}
.div-avatar{
    flex-basis: 0;
    flex-grow: 1;
    margin-right: 30px;
}