body {
  font-family: "Roboto", sans-serif;
  background-color: #282a36;
  color: #f8f8f2;
}

h1 {
  color: #50fa7b;
}

h2 {
  color: #bd93f9;
}

a {
  color: #ff79c6;
}

.short-description {
    color: #8be9fd;
}

.img-avatar {
    width: 128px;
    border-radius: 50%;
    border: #f8f8f2;
    border-style: solid;
}

.email {
  color: #ffb86c;
}
